{% extends "base.njk" %}

{% block content %}
     <table>
        <tbody>
            <tr>
                <td class="account" data-i18n="account" >Account</td>
                <td>
                    <span class="account">{{account}}</span>
                </td>
            </tr>
            <tr>
                <td class="height" data-i18n="Payouts">Payouts</td>
                <td>
                    <span class="payouts">{{payouts}}</span>
                </td>
            </tr>
            <tr>
                <td class="height" data-i18n="Already Paid">Already Paid</td>
                <td>
                    <span class="payouts"><span class="strong">{{paid }} BLN</span></span>
                </td>
            </tr>
            <tr>
                <td data-i18n="Total Reward">Total Reward</td>
                <td>
                    <span><span class="strong">{{total_reward }} BLN</span></span>
                </td>
            </tr>
        </tbody>
    </table>
    <table id="block-table"  ng-controller="account">
        <thead>
            <tr>
                <td class="narrow" data-i18n="Height">Height</td>
                <td class="narrow" data-i18n="Payment ID">Payment ID</td>
                <td class="right" data-i18n="Reward">Reward</td>
            </tr>
        </thead>
        <tbody id="block-list">
            <tr ng-repeat="payout in payments">
                <td><a href="/payouts/${payout.blockHeight}">${payout.blockHeight}</a></td>
                <td class="address" ng-if="payout.isPayout"><a target="_blank" href="https://blnscan.io/${payout.txid}">${payout.txid.toLowerCase()}</td>
                <td ng-if="!payout.isPayout" data-i18n="Waiting for CONFIRMED">Waiting for CONFIRMED</td>
                <td class="right"><span class="strong">${payout.amount | currency} BLN</span></td>
            </tr>
            <tr ng-if="payments.length == 0 && !isloaded">
                <td colspan="5">
                    {% include "spinner.njk" %}
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}