{% extends "base.njk" %}

{% block content %}
    <h3 data-i18n="Recent Payouts">Recent Payouts</h3>
    
    <table id="block-table"  ng-controller="recent_payouts">
        <thead>
            <tr>
                <td class="narrow" data-i18n="Height">Height</td>
                <td class="address" data-i18n="Reciever">Reciever</td>
                <td class="right" data-i18n="Amount">Amount</td>
            </tr>
        </thead>
        <tbody id="block-list">
            <tr ng-repeat="payout in payments">
                <td><a target="_blank" href="https://blnscan.io/${payout.data.blockHeight}">${payout.data.blockHeight}</a></td>
                <td class="address"><a target="_blank" href="https://blnscan.io/${payout.txid}">${payout.to}</td>
                <td class="right"><span class="strong">${payout.amount | currency} BLN</span></td>
            </tr>
            <tr ng-if="payments.length == 0">
                <td colspan="5">
                    {% include "spinner.njk" %}
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}